
<!DOCTYPE html>
<html>
  <body>
<% include ../partials/head %>
<% include ../partials/navbar %>
          <!-- start navtabs -->
          <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/users/videos/new">Create Video</a></li>
                <li><a href="/">Home</a></li>
                <li><a href="/profile">Profile</a></li>
                <li class="active"><a href="/login">Login</a></li>
            <li><a href="/signup">Sign Up</a></li>
            <li class="dropdown"> </li>
          </ul> 
        </div>          
        </div>
    </div>
    <!--end navtab-->
  	<div class="container"> 
  		<div class="row">
  			<div class="col-sm-12">
  				<h3>this is the profile page</h3>
  			</div>
  		</div>
  	</div>
  	<div class="container"> 
  		<div class="col-sm-8">

  		</div>
  			<div class="col-sm-4">
  
  		

  			</div>				
  		</div>
  	</div>

  	<div class="container">
  		<div>
	  		<table style="width:100%">
				<th>
					<tr>
						<td>Title</td>
						<td>Date Created</td>
					</tr>
				</th>
				<div>
	      	<% videos.forEach(function(video){ %>
	  			<tb>
	  				<tr onclick="document.location = '/users/videos/<%=video.ytVideoId%>'">
	  					<td>
	  						<%= video.title %>
	  					</td>
	  					<td>
	  						<%= video.createdAt.toDateString()%><span> <%= video.createdAt.getHours()%>:<%= video.createdAt.getMinutes()<10?'0'+ video.createdAt.getMinutes():'' + video.createdAt.getMinutes()%>
	  					</td>
              <td>
                <img src="https://i.ytimg.com/vi/<%=video.ytVideoId%>/1.jpg">
              </td>
              <td>
					     <form method="POST" action="/users/<%=video.userId%>/videos/<%=video.id%>?_method=delete">
					       <button type="submit">Delete Video</button>
					     </form>
             </td>
	  				</tr>
	  			</tb>
	  			<% }) %>
	  		</table>
   		</div>
  	</div>
  </body>
</html>


<br><br><br>
      
      <div>
        <form method="POST" action="/logout?_method=DELETE">
          <button class="btn btn-danger">Logout</button>
        </form>
      </div>

      

<% include ../partials/footer %>

